body {
  font-family: '-apple-system', 'San Francisco Display', 'San Francisco Text', 'SF UI Display', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  min-height: 300px;
  background: transparent;
}

* {
  box-sizing: border-box;
  font-family: '-apple-system', 'San Francisco Display', 'San Francisco Text', 'SF UI Display', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  user-select: none;
  -webkit-font-smoothing:antialiased;
}

$osx-blue: #4899fb;

h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: .15rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  font-size: .9rem;
  font-weight: 500;
  margin: 0 auto 1.4rem;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h3 {
  font-size: .85rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.h6 {
  font-size: .8rem;
  font-weight: 500;

  a {
    color: inherit;
    text-decoration: none;
  }
}

a.h6 {
  color: inherit;
  transition: all .15s;

  &:hover {
    opacity: .8;
  }
}

img {
  display: block;
  border: none;
}

.js-bgcheck {
  transition: all .1s;
}

.js-bgcheck.text.background--light {
  color: black;
}
.js-bgcheck.background.background--light {
  background-color: black;

  &.progressBar {
    background: rgba(black,.15);
  }
}

.js-bgcheck.background--light {
  path, .ytp-svg-fill {
    stroke: none;
    fill: black;
  }

  &.stroke {
    path {
      fill: none;
      stroke: black;
    }
  }
}

.js-bgcheck.text.background--dark {
  color: white;
}
.js-bgcheck.background.background--dark {
  background-color: white;

  &.progressBar {
    background: rgba(white,.15);
  }
}

.js-bgcheck.svg.background--dark {
  path, .ytp-svg-fill {
    stroke: none;
    fill: white;
  }

  &.stroke {
    path {
      fill: none;
      stroke: white;
    }
  }
}

.js-bgcheck.text.background--complex {
  color: gray;
}

.js-bgcheck.background.background--complex {
  background-color: gray;

  &.progressBar {
    background: rgba(gray,.15);
  }
}

.js-bgcheck.svg.background--complex {
  path, .ytp-svg-fill {
    stroke: none;
    fill: gray;
  }

  &.stroke {
    path {
      fill: none;
      stroke: gray;
    }
  }
}

.nowPlayingBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(black,.9);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nowPlaying {
  width: calc(90vw - 400px);
  max-width: 60vh;
  min-width: 300px;
}

.nowPlayingAlbumArt {
  width: calc(90vw - 400px);
  height: calc(90vw - 400px);
  max-width: 60vh;
  max-height: 60vh;
  min-width: 300px;
  min-height: 300px;
  margin: 0 auto;
}

.progressBar {
  height: 3px;
  margin: 1rem auto 0;
  background: rgba(black,.15);
  position: relative;
  z-index: 3;
}

.progress {
  height: 3px;
}

.progressCountEnd {
  right: 0;
}

.opacity {
  opacity: .45;
}

.btn {
  opacity: .6;
  transition: all .2s;
  cursor: pointer;
}

.btn svg {
  height: 100%;
}

.btn:hover {
  opacity: 1;
}

.btnLike {
  width: 30px;
  height: 22px;
  display: inline-block;

  &.liked {
    svg {
      filter: drop-shadow(0 1px 1px rgba(black,.25));
    }
    path {
      fill: red !important;
      stroke: none;
    }
  }
}

.btnPlayPause {
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 4rem;
  overflow: hidden;
  position: relative;

  svg {
    width: 200%;
    height: 200%;
    position: absolute;
    top: -20px;
    left: -21px;
  }
}

.btnFf {
  width: 30px;
  height: 20px;
  display: inline-block;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .25rem .5rem;
  border: 1px solid rgba(black,.5);
  border-radius: 4px;
  transition: all .25s;
  user-select: text;

  &:focus {
    outline: none;
  }
}

button {
  font-size: .9rem;
  font-weight: 400;
  background-image: linear-gradient(top, rgb(255,255,255) 0%,rgb(241,241,241) 100%);
  border: none;
  box-shadow: 0 0 0 1px rgba(black,.3);
  border-radius: 4px;
  min-width: 70px;
  outline: none;

  &:active {
    background-image: linear-gradient(top, #4a96fd 0%, #0867e4 100%);
    outline: none;
    color: white;
  }
}

input.search {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .25rem;
  padding-left: 26px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(black,.15);
  transition: all .25s;
  background: white image-url('search.svg') no-repeat;
  background-size: 13px;
  background-position: 10px 7px;
  transform: translateZ(0);
  user-select: text;

  &:placeholder-shown {
    padding-left: calc(23px + 30%);
    background-position: calc(10px + 30%) 7px;
  }

  &:focus {
    padding-left: 26px;
    background-position: 10px 7px;
    outline: none;
  }
}

.usersInRoomWrapper {
  height: 2.75rem;
  overflow: hidden;
  overflow: scroll;

  .usersInRoom {
    margin: 0;
  }

  img {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    border-radius: 50%;
    float: left;
    margin: 0 .75rem .75rem 0;
    white-space: nowrap;
  }
}

.sidebarContainer {
  width: 330px;
  overflow: hidden;
  position: relative;
  transition: margin-right .6s cubic-bezier(0.165, 0.84, 0.44, 1);

  &.isHidden {
    margin-right: -330px;
  }
}

.modalWindow {
  width: 330px;
  background: rgba(white,.3);
  height: 100vh;
  position: absolute;
  z-index: 10;
  transition: right .6s cubic-bezier(0.165, 0.84, 0.44, 1);
  right: 0;

  &.isHidden {
    right: 330px;
  }
}

.onDeck {
  width: 330px;
  background: rgba(white,.3);
  height: 100vh;
  position: absolute;
  z-index: 10;
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
  right: 0;

  &.isHidden {
    right: -330px;
  }
}

.onDeckSongs {
  overflow-y: scroll;
  height: calc(100vh - 182px);
  -webkit-overflow-scrolling: touch;
}

.onDeckSong .remove {
  transition: all .15s;
  display: none;
  background: rgba(black,.33);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 15px;
  font-size: 20px;
  font-weight: 400;
  color: #dbdde4;
  text-align: center;
  letter-spacing: -1;
  cursor: pointer;

  &:hover {
    background: rgba(black,.5);
  }
}

.onDeckSong {

  &:hover {
    cursor: default;

    .remove {
      display: block;
      text-decoration: none;
    }
  }
}

.onDeckAlbumArt {
  background-color: rgba(black,.2);
  width: 46px;
  height: 46px;
  box-shadow: 0 0 1px 0 rgba(black,.5);
}

.toastSongNotification {
  position: absolute;
  bottom: -30px;
  left: 50px;
  right: 50px;
  text-align: center;
  padding: .4rem;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 0 2px 10px rgba(black,.25);
  font-size: .85rem;
  font-weight: 500;

  &.good {
    background: white;
    bottom: 10px;
  }
}

.toggleSidebar {
  position: absolute;
  bottom: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: rgba(black,.6);
  text-align: center;
  line-height: 26px;
  font-weight: 700;
  right: 6px;
  font-size: 24px;
  transform: rotateZ(540deg);
  transition: all .6s;
  cursor: pointer;
  z-index: 200;

  &:hover {
    color: black;
  }

  &.closed {
    transform: rotateZ(0);
    background: rgba(white,.3);
    box-shadow: 0 0 1px rgba(black,.25);
  }
}

.dropdownTrigger {
  cursor: pointer;
  transition: all .1s;

  &:hover {
    opacity: .7;
  }
}

.dropdownMenu {
  position: absolute;
  right: 1rem;
  margin-top: 1.1rem;
  min-width: 150px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 9px 18px rgba(black,.5);
  padding: 4px 0;
  z-index: 20;
  opacity: 1;
  transition: all .2s;

  &.hide {
    opacity: .7;
  }

  li {
    padding: .09rem 1.3rem .11rem;
    font-size: .95rem;
    font-weight: 400;
    cursor: pointer;
    transition: all .05s;
    color: rgba(black,.9);

    &:hover {
      background: $osx-blue;
      color: white;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}