body {
  font-family: '-apple-system', 'San Francisco Display', 'San Francisco Text', 'SF UI Display', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
  min-height: 300px;
  background: transparent;
}

* {
  box-sizing: border-box;
  font-family: '-apple-system', 'San Francisco Display', 'San Francisco Text', 'SF UI Display', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  user-select: none;
}

$osx-blue: #0068d9;
$black: #000000;

h1 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: .15rem;
}

h2 {
  font-size: .9rem;
  font-weight: 400;
  margin: 0 auto 1.4rem;
}

h3 {
  font-size: .9rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

img {
  display: block;
}

.nowPlayingBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba($black,.9);
  background-size: cover;
  background-repeat: no-repeat;
}

.nowPlaying {
  width: calc(90vw - 330px);
  max-width: 320px;
}

.nowPlayingAlbumArt {
  width: calc(90vw - 330px);
  height: calc(90vw - 330px);
  max-width: 320px;
  max-height: 320px;
}

.progressBar {
  height: 3px;
  margin-top: 1rem;
  width: 100%;
  background: rgba($black,.15);
  position: relative;
  z-index: 3;
}

.progress {
  height: 3px;
}

.progressCountEnd {
  right: 0;
}

.opacity {
  opacity: .4;
}

.btn {
  opacity: .6;
  transition: all .2s;
}

.btn:hover {
  opacity: 1;
}

.btnLike {
  width: 30px;
  height: 22px;
  background: image-url('like.svg') no-repeat center;
  background-size: contain;
  display: inline-block;
}

.btnPlay {
  width: 24px;
  height: 30px;
  background: image-url('play.svg') no-repeat center;
  background-size: contain;
  display: inline-block;
  margin: 0 4rem;
}

.btnFf {
  width: 30px;
  height: 20px;
  background: image-url('ff.svg') no-repeat center;
  background-size: contain;
  display: inline-block;
}

input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: .25rem;
  padding-left: 26px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba($black,.15);
  transition: all .25s;
  background: white image-url('search.svg') no-repeat;
  background-size: 13px;
  background-position: 10px 7px;
  transform: translateZ(0);
  user-select: text;

  &:placeholder-shown {
    padding-left: calc(23px + 30%);
    background-position: calc(10px + 30%) 7px;
  }

  &:focus {
    padding-left: 26px;
    background-position: 10px 7px;
    outline: none;
    box-shadow: 0 0 1px 1px $osx-blue;
  }
}

.onDeck {
  width: 330px;
  background: rgba(white,.33);
  height: 100vh;
}

.onDeckSongs {
  overflow-y: scroll;
  height: calc(100vh - 89px);
  -webkit-overflow-scrolling: touch;
}

.onDeckSong .remove {
  transition: all .15s;
  display: none;
  background: rgba($black,.33);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  line-height: 15px;
  font-size: 20px;
  font-weight: 400;
  color: #dbdde4;
  text-align: center;
  letter-spacing: -1;
  cursor: pointer;

  &:hover {
    background: rgba($black,.5);
  }
}

.onDeckSong {

  &:hover {
    cursor: default;

    .remove {
      display: block;
    }
  }
}

.onDeckAlbumArt {
  background-color: rgba($black,.2);
  width: 46px;
  height: 46px;
  box-shadow: 0 0 1px 0 rgba($black,.5);
}
